@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'CustomFont', sans-serif;
}

.container {
  display: flex;
}

.left_column {
  flex: 1;
  padding: 15px;
  background-color: paleturquoise;
}

.right_column {
    flex: 0.25;
    padding: 15px;
    background-color: cadetblue;
}